################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Test/v16
/AndroidBase/bin/Debug
/AndroidBase/obj
/App1/bin/Debug
/App1/obj
